body {
  background: #ffffff;
  font-size: 16px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.25rem; }
  .header__logo {
    display: flex;
    align-items: center; }
  .header__logo-image {
    width: 128px; }
  .header__sub {
    font-size: 0.75rem;
    font-weight: bold;
    align-self: flex-end; }

.hero {
  background-image: url("../img/hero/main.jpg");
  background-size: 100%; }

.btn {
  padding: 0.6rem 3rem; }
  .btn-primary {
    border: none;
    border-radius: 2rem;
    background: #da6b64;
    color: #ffffff; }
  .btn--small {
    font-size: .75rem; }
  .btn:hover {
    opacity: .6; }
