body {
  font-size: 16px; }

.header {
  display: flex; }
  .header__logo {
    display: flex; }
  .header__logo-image {
    width: 128px; }
  .header__sub {
    font-size: 0.75rem; }

.btn-primary {
  border-radius: 2rem; }
