@charset "UTF-8";
html {
  font-size: 16px;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

p {
  margin: 0; }

h2, h3 {
  margin: 0; }

.underline--primary {
  background: linear-gradient(transparent 65%, #ebb94d 0%);
  font-weight: bold; }

.rest {
  height: 10vh;
  background-image: url("../img/rest/introbottom.jpg");
  background-size: 100%;
  background-position: center 85%;
  background-repeat: no-repeat; }

.vertically-horizontally-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.color-txt-main {
  color: #ebb94d; }

@media screen and (max-width: 760px) {
  html {
    font-size: 12px; } }

.btn {
  padding: 0.6rem 3rem; }
  .btn-primary {
    border: none;
    border-radius: 2rem;
    background: #da6b64;
    color: #ffffff; }
  .btn--small {
    font-size: .75rem; }
  .btn--big {
    font-size: 1.25rem;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .btn:hover {
    background-color: #d84940; }

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  z-index: 10; }
  .header__logo {
    display: flex;
    align-items: center; }
  .header__logo-image {
    width: 128px; }
  .header__sub {
    font-size: 0.75rem;
    font-weight: bold;
    align-self: flex-end;
    margin-left: 0.5rem; }
  .header__contactus-link {
    display: none; }

@media screen and (max-width: 940px) {
  .header {
    padding: 0; }
    .header__logo {
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: flex-start; }
    .header__contactus.btn {
      display: none; }
    .header__contactus-link {
      display: inherit;
      text-align: center;
      height: 100%;
      padding: 1rem;
      background-color: #da6b64; }
    .header__contactus-link p {
      color: #ffffff; } }

.hero {
  background: url("../img/hero/main.jpg") no-repeat center center/100% 100%;
  color: #333333; }
  .hero__wrapper {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem; }
  .hero__message {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; }
  .hero__logo {
    width: 40%;
    margin-bottom: 2rem; }
  .hero__title {
    font-weight: bold; }

.contact-us {
  background-color: #ebb94d;
  color: #ffffff;
  min-height: 33vh;
  font-weight: bold;
  font-size: 1.125rem; }
  .contact-us__wrapper {
    text-align: center;
    width: 100%;
    max-width: 1028px;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .contact-us__message {
    margin-bottom: .25rem; }
  .contact-us__message:last-of-type {
    margin-bottom: 1rem; }
  .contact-us__warning-message-wrapper {
    margin-bottom: 0.625rem; }
  .contact-us__warning-message {
    background-color: #ffffff;
    color: #C7254E; }
  .contact-us__btn {
    margin-bottom: 2rem; }
  .contact-us__period {
    margin-bottom: 2rem; }

.preface {
  min-height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .preface__wrapper {
    margin-top: 2rem;
    width: 85%;
    max-width: 800px; }
  .preface__title {
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative; }
  .preface__title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d; }
  .preface__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-bottom: 0.25rem solid #ebb94d;
    border-right: 0.25rem solid #ebb94d; }
  .preface__preface {
    margin-bottom: 2rem; }
  .preface__question {
    margin-bottom: 2rem; }
  .preface__conclusion {
    margin-bottom: 2rem; }

.about {
  text-align: center;
  background-color: #fef5e0;
  color: #333333; }
  .about__wrapper {
    width: 100%; }
    .about__wrapper > * {
      margin-left: auto;
      margin-right: auto; }
  .about__icon {
    display: inline-block;
    border-radius: 50%;
    font-size: 0.875rem;
    width: 5.125em;
    height: 5.125em;
    text-align: center;
    line-height: 5.125em;
    color: #ffffff;
    background-color: #ebb94d;
    transform: translateY(-50%); }
  .about__title {
    position: relative;
    margin-bottom: 3rem;
    width: 85%;
    max-width: 800px; }
  .about__title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-top: 0.25rem solid #ebb94d;
    border-left: 0.25rem solid #ebb94d; }
  .about__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-bottom: 0.25rem solid #ebb94d;
    border-right: 0.25rem solid #ebb94d; }
  .about__message {
    font-size: 1.25rem;
    margin-bottom: 2.5rem; }
  .about__content-wrapper {
    width: 90%;
    border: 3px solid #ebb94d;
    background-color: #ffffff;
    margin-bottom: 4rem;
    padding: 0.5rem; }
  .about__content-title {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .about__skill-items {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap; }
  .about__skill-item {
    padding: 0.625rem; }
  .about__skill-item-txt {
    margin: 0.625rem 0;
    font-size: 0.75rem; }

.step {
  background: url("../img/step/aboutsecondbg.jpg") no-repeat center center/100% 100%;
  text-align: center; }
  .step__wrapper {
    width: 90%; }
  .step__title {
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .step__message {
    color: #ffffff; }
  .step__content-wrapper {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .step__content {
    background-color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem; }
  .step__content-title {
    color: #ffffff;
    background-color: #ebb94d;
    margin-bottom: 2rem; }
  .step__content-txt p {
    margin-top: 1rem;
    font-weight: bold; }

.step-bottom {
  background-color: #016ea9;
  color: #ffffff;
  font-size: 1.25rem;
  text-align: center;
  padding: 2.5rem; }

.learning-abstract {
  text-align: center; }
  .learning-abstract__title {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    .learning-abstract__title--small {
      font-size: 0.875rem; }
  .learning-abstract__message {
    margin-bottom: 2rem;
    font-size: 1.25rem; }
  .learning-abstract__content-wrapper {
    max-width: 768px; }
  .learning-abstract__contents {
    margin-bottom: 2rem; }
  .learning-abstract__content {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem; }
  .learning-abstract__content-message {
    margin-bottom: 3rem;
    font-weight: bold; }

@media screen and (max-width: 480px) {
  .learning-abstract__content {
    padding-left: .5rem;
    padding-right: .5rem; } }

.merit {
  text-align: center;
  background-color: #fef5e0;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .merit__wrapper {
    width: 100%; }
  .merit__title_wrapper {
    position: relative;
    margin-bottom: 3rem;
    width: 85%;
    max-width: 800px; }
    .merit__title_wrapper:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
      border-top: 0.25rem solid #ebb94d;
      border-left: 0.25rem solid #ebb94d; }
    .merit__title_wrapper:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3rem;
      height: 3rem;
      border-bottom: 0.25rem solid #ebb94d;
      border-right: 0.25rem solid #ebb94d; }
  .merit__content {
    padding: 1rem; }
  .merit__support {
    background-color: #ffffff;
    border: 4px solid #ebb94d; }
