.about {
    text-align: center;
    background-color: #fef5e0;
    color: #333333;

    &__wrapper {
        width: 100%;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__icon {
        display: inline-block;
        border-radius: 50%;
        font-size: 0.875rem;
        width: 5.125em;
        height: 5.125em;
        text-align: center;
        line-height: 5.125em;
        color: #ffffff;
        background-color: $color-main;
        transform: translateY(-50%);
    }

    &__title {
        position: relative;
        margin-bottom: 3rem;
        width: 85%;
        max-width: 800px;
    }

    &__message {
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
    }

    &__content-wrapper {
        width: 90%;
        border: 3px solid $color-main;
        background-color: #ffffff;
        margin-bottom: 4rem;
    }

    &__content-title {
        font-size: 1.25rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__skill-items {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__skill-item {
        padding: 0.625rem;
    }

    &__skill-item-txt {
        margin: 0.625rem 0;
        font-size: 0.75rem;
    }

    &__title:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        border-top: 0.25rem solid $color-main;
        border-left: 0.25rem solid $color-main;
    }

    &__title:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        border-bottom: 0.25rem solid $color-main;
        border-right: 0.25rem solid $color-main;
    }
}