.hero {
    background: url('../img/hero/main.jpg') no-repeat center center / 100% 100%;
    color: $color-txt-main;

    &__wrapper {
        text-align: center;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    &__message {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__logo {
        width: 40%;
        margin-bottom: 2rem;
    }

    &__title {
        font-weight: bold;
    }
}