.learning-abstract {
    text-align: center;

    &__title {
        margin-top: 3rem;
        margin-bottom: 2rem;

        &--small {
            font-size: 0.875rem;
        }
    }

    &__message {
        margin-bottom: 2rem;
        font-size: 1.25rem;
    }

    &__content-wrapper {
        max-width: 768px;
    }

    &__contents {
        margin-bottom: 2rem;
    }

    &__content {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__content-message {
        margin-bottom: 3rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) { 
    .learning-abstract {
        &__content {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}