body {
    font-size: 16px;
}

.header {
    display: flex;

    &__logo {
        display: flex;
    }

    &__logo-image {
        width: 128px;
    }

    &__sub {
        font-size: 0.75rem;
    }
}

.btn {
}

.btn-primary {
    border-radius: 2rem;
}

