body {
    font-size: 16px;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.underline--primary {
    background: linear-gradient(transparent 65%, $color-main 0%);
    font-weight: bold;
}

.rest {
    height: 10vh;
    background-image: url('../img/rest/introbottom.jpg');
    background-size: 100%;
    background-position: center 85%;
    background-repeat: no-repeat;
}

.vertically-horizontally-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

